body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

p {
  margin-top: 0;
}

body.landing_page {
  background: #3C1252;
  color: #FFF;
}
body.step_1, body.step_2, body.step_3, body.step_4 {
  background: #F9F9F9;
  padding-bottom: 100px;
}

body.results_page .results_link {
  border-bottom: 2px solid white !important;
}
body.account_page .account_link {
  border-bottom: 2px solid white !important;
}

a {
  color: #3C1252;
}
a:hover {
  text-decoration: none;
}
a:focus {
  background: #FFF71A;
  box-shadow: 0 1px #FFF71A, 0 4px #0b0c0c;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
